@import 'mixin';
// Color system
$white: #fff;
$black: #000;
$blue: #4986fc;

$mob-sm: 320px;
$mob-an: 360px;
$mob-md: 375px;
$mob-lg: 700px;
$tablet: 1199px;
$desk-sm: 1200px;
$desk-md: 1365px;
$desk-lg: 1439px;
$desk-xl: 1919px;
$desk-xxl: 1920px;
$desk-xxxl: 2000px;

$masthead-height-desktop: 44px;
$masthead-height-mob: 44px;
$height-100: calc(100vh - #{$masthead-height-desktop});
$min-height: 600px;
$max-width: 1240px;
$max-width-true: 1280px;
$col-spacing: 20px;

// This is the default html and body font-size for the base rem value.
$rem-base: 10px;



$breakpoints: (
	'zero': 0px,
	'mobile-sm': 350px,
	'mobile': 700px,
	'tablet': 1000px,
	'desk-sm': 1300px,
	'desk-md': 1400px,
	'desk-lg': 1600px,
	'desk-xl': 2000px,
	'desk-xxl': 2400px
);

